body {
    font-family: sans-serif;
    background-color: rgb(200, 200, 200);
}
form {
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 1rem;
    padding: 1rem;
    background-color: #fff;
    border-radius: 8px;
    height: 10rem;
    justify-content: space-between;
    align-items: center;
}